<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Interview System</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <header>
        <section class="header">
            <nav>
                <a href="/"><img src="../static/image/logo.png"></a>
                <div class="nav-links" id="navLinks">
                    <div class="nav-left">
                        <i class="fa fa-times" onclick="hideMenu()"></i>
                        <ul>
                            <li><a href="/">Home</a> </li>
                        </ul>
                    </div>
                    <div class="nav-right">
                        <ul>
                            <li><a href="/qnMethod">Teachers</a></li>
                            <li><a href="/studentInfo">Students</a></li>
                        </ul>
                    </div>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
        <div class="text-box">
            <h1>Smart Interview Evaluation</h1>
            <p>AI-based interview system for Student Assessment</p>            
            <div class="btn-container">
                <a href="{{url_for('qnMethod') }}" class="cta-btn-teachers">
                    <span class="btn-subtext">Teachers</span>
                    <span class="btn-maintext">Start an Interview</span>
                </a>
                <a href="{{url_for('studentInfo') }}" class="cta-btn-students">
                    <span class="btn-subtext">Students</span>
                    <span class="btn-maintext">Join an Interview</span>
                </a>
            </div>
        </div>
        </section>
    </header>
</body>
</html>
