<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Info</title>
    <link rel="stylesheet" href="../static/css/questionInfo.css">
</head>
<body>
    <section class="info-container">
        <h1>OralBot</h1>
        <p>AI Interview</p>
        <form id="questionForm">
            <div class="question-details-input">
                <input type="text" id="interviewTitle" placeholder="Title of Interview" required>
                <input type="text" id="moduleCode" placeholder="Module code" required>
                <div class="proceedbtn">
                    <button onclick="questionInfo(event)">Start!</button> <!--button in form defaults to type = submit -->
                </div>
            </div>
        </form>
    </section>
    <script src="../static/js/questionInfo.js"></script>
</body>
</html>
