<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to text</title>
    <link rel="stylesheet" href="../static/css/studentInfo.css">
</head>
<body>
    <section class="info-container">
        <div class="formWrapper">
            <h1>OralBot</h1>
            <p>AI Interview</p>
            <form id="studentForm">
                <div class="student-details-input">
                    <input type="text" id="studentName" placeholder="Student name" required>
                    <input type="text" id="adminNumber" placeholder="Admin number" required>
                    <input type="text" id="moduleCode" placeholder="Module code" required>
                    <div class="proceedbtn">
                        <button onclick="saveInfo(event)">Start!</button> <!--button in form defaults to type = submit -->
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="../static/js/student.js"></script>
</body>
</html>
