<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Reports</title>
    <link rel="stylesheet" href="../static/css/viewReport.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    <h2>Student Reports</h2>

    {% if reports %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Admin No</th>
                <th>Module</th>
                <th>Date</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ report.name }}</td>
                <td>{{ report.admin }}</td>
                <td>{{ report.module }}</td>
                <td>{{ report.date }}</td>
                <td>
                    <a class="download-btn" href="{{ url_for('download_report', filename=report.filename) }}">Download</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No reports found yet!</p>
    {% endif %}
    
</body>
</html>