<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload from Excel</title>
    <link rel="stylesheet" href="../static/css/method.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    <section class = "headerBox">
        <header>Create a new Interview</header>
    </section>
    <section class = "content">
        <div class="content-title">
            <h2>Create a New Interview</h2>
        </div>
        <div class="selectionContainer">
            <div class="selection">
                <div class="selectionContent">
                    <h3>Upload Questions & Rubrics</h3>
                    <p>By using Excel format</p>
                    <div class="selectionimg">
                        <img src="../static/image/excelIcon.png">
                    </div>
                </div>
                <div class="selectiondownloadbtn">
                    <a class="selectionbtnContainer" href="../static/sample_questions.xlsx" download="SampleSpreadSheet">
                        <span>Download template sample</span>
                    </a>
                </div>
                <div class="selectionbtn">
                    <button onclick="showpopup()">Import Content</button>
                </div>
            </div>
            <div class="selection">
                <div class="selectionContent">
                    <h3>View Student Reports</h3>
                    <p>Access all generated interview reports</p>
                    <div class="selectionimg">
                        <img src="../static/image/downloadImg.png">
                    </div>
                </div>
                <div class="selectionbtn">
                    <button onclick="viewReport()">View Reports</button>
                </div>
            </div>
        </div>
    </section>
    <div class="popupWindow">
        <div class="popupContent">
            <i class="fa fa-times" onclick="closepopup()"></i>
            <div class="popupHeader">
                <div class="popupTitle">
                    <h2>Import questions from spreadsheet</h2>
                    <p>Please upload an excel spreadsheet that follows the sample template</p>
                </div>
            </div>
            <div class="uploadContainer">
                <div class="uploadArea">
                    <div class="upload">
                        <p>Upload your spreadsheet</p>
                        <input type="file" id="fileInput" accept=".xlsx, .xls"> <!--restricts to excel files only-->
                        <button class="uploadBtn" onclick="uploadfile()">Choose file</button>
                    </div>
                    <div class="questionContainer"></div>
                </div>
            </div>
            <div class="popupActions">
                <div class="popupBtn">
                    <a class="popupbtnContainer" href="../static/sample_questions.xlsx" download="SampleSpreadSheet">
                        <img class="popupExcel" src="../static/image/excel-img.png">
                        <span>Download template sample</span>
                    </a>
                </div>
                <button class="popupBackbtn" onclick="back()">
                    <i class="fa fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <div class="actionsBtn">
                    <button onclick="closepopup()" class="cancelBtn">Cancel</button>
                    <button class="importBtn" disabled onclick="confirmImport()">Import</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/createQn-Method.js"></script>
</body>
</html>
